body {
    /* background-color: black; */
    background: url(../images/disco_back.png) no-repeat fixed;
    background-size: 100% auto;
    color: #e9e8eb;
}

div.navi {
    clear: both;
    position: fixed;
    left: 6%;
    /* bottom: 15% */
    top: 20%;
    float: left;
    width: 15%;
}
/* h1 */
h1 {
    
    font-family: 'Blackadder ITC', 'Monotype Corsiva', 'Luminari', 'Noteworthy', 'arial narrow'; /* 少しインパクト欲しいので、ちょっと可愛いフォントを選んだ */
    text-align: left;
    font-size: 37px;
}

hr.navi {
    width: 215px;
    margin-bottom: 15px;
}


p.navi {
	padding-bottom: 15%;
  font-size: 16px;
	line-height: 1.3em;
}
/* bulleted links */
li.navi {
    list-style-type: none;
    text-align: center;
	  padding: 2px 0;
}
a.navi {
    display: block;
    color: #e9e8eb;
    text-decoration: none;
    border: solid 1px #e9e8eb;
    margin: 10% 0;
}

/* Overall layout box */
div#text {
    float: right;
    width: 65%;
    margin-right: 9%;
    margin-top: 50px;
    padding-bottom: 80px;
}

.video {
    float: left;
    margin: 30px;
}

table {
    margin: 23px 23px 23px 0;
}

th {
    text-align: left;
    font-size: 20px;
}

td {
    font-size: 14px;
    color: #988f8f;
    padding-top: 5px;
}

td.cell {
    width: 80px;
}

em {
    font-weight: bold;
}
/*line */
hr.long {
    clear: both;
    border: solid 0.5px #828282;
}


h2 {
    margin: 40px auto 0 30px;
    border-left: solid 10px #a62828;
    padding-left: 10px;
}
/* Attention message at the top */
p#attention {
    margin-left: 30px;
}

td.item {
    width: 70px;
}